
 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
     background-color: rgb(80, 6, 6);
}


header {
    display: flex;
    justify-content: center;

}

.logo  {
    margin-left: auto;
    margin-right: auto;
}

.menu{
    position: relative;
    width: 100%;
  background-color: rgb(80, 6, 6);  
}
.menub{
 background-color: rgb(80, 6, 6);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.menuin{
    display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.menuin a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.menuin a :hover{
background-color: antiquewhite;
}

.menu:hover .menuin{
display: block;
}


button{
  width: 50px;
  height: 20px;
  background-color: black;
}

.al img{
    height: 250px;
    width: 250px;

}
.row{
display: flex;
}