* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(14, 12, 12);
}


header {
  display: flex;
  justify-content: center;

}

.logo {
  margin-left: auto;
  margin-right: auto;
}

.menu {
  position: relative;
  width: 100%;
  background-color: rgb(27, 26, 26);
}

.menub {
  background-color: rgb(34, 28, 28);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.menuin {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.menuin a {
  color: rgb(235, 224, 224);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.menuin a :hover {
  background-color: antiquewhite;
}

.menu:hover .menuin {
  display: block;
}


.row ul li{
  padding: 50px;

}
.al img {
  border-radius: 10px;
  height: 250px;
  width: 250px;

}


.row ul li a {
  list-style: none;


}

footer{
  height: 150px;
}