* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 100px;
    background-color: rgb(80, 6, 6);
    display: flex;
    justify-content: center;

}
.logo
.titulo {
    margin-left: auto;
    margin-right: auto;
}

.menu {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 100%;
    height: 50px;
    background-color: rgb(80, 6, 6);

}

.menu li:hover {
    transition: 0, 5s;
    color: rgba(9, 9, 228, 0.301);
    transform: scale(2.1);
}

.menu ul {}

.menu li {
    text-decoration: none;
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(255, 255, 255, 0.747);
    width: auto;
    height: 50px;

}