
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 100px;
  background-image: linear-gradient( to left, rgba(238, 13, 13, 0.795),  rgba(53, 53, 209, 0.767), rgba(0, 0, 0, 0.849));
  font-family: 'Times New Roman', Times, serif;
  color: rgb(31, 7, 68);
  font-size:xx-large;  
  display: flex;
}
.titulo{
    margin-left: auto;
    margin-right: auto;
}