 *{
    padding: 3px;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(80, 6, 6);
    color: #f9f9f9;
}


header {
 
    display: flex;
    justify-content: center;

}

.logo  {
    margin-left: auto;
    margin-right: auto;
}
.logo{
  height: 200px;
    width: 200px; 
}

.menu{
    position: relative;
}
.menub{
 background-color: rgb(80, 6, 6);
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.menuin{
    display: none;
  position: absolute;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.menuin a {
  color: rgb(248, 237, 237);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.menuin a :hover{
background-color: antiquewhite;
}

.menu:hover .menuin{
display: block;
}
h2{
  padding: 10px;
}
p{
  word-break: break-all;
}